*{
    top: 0;
    left: 0;
}
table{
    width: 40vw;
    border-collapse: collapse;
    border-spacing: 0;
}
th{
    background-color: rgb(3, 176, 119) !important;
    text-align: left;
    color: bisque;
}
tr:nth-child(even) {
    background-color: gainsboro;
}
td,th{
    height: 50px;
}